.wrapper {
  background: #0252b1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.bkc-image {
  width: auto;
  height: 50vh;
  display: block;
}
